@media screen and (max-width:1024px){#thaitheme-waper .tt_main{width:96%;padding:0% 2% 0% 2%;}
.grid.tt_full .tt_list.thaitheme.post3x .tt-img,
.grid .tt_list.thaitheme .tt-img{min-height:100px;}
.grid.tt_full .tt_list.thaitheme.post3x{width:18.9%;}
.tt_list.cat_all a{width:18%;}
.tt_btn_allmenu{left:0px;top:45px;}
.adverts-form select#province ,
.adverts-form select#district{left:33.8%;}
}
@media screen and (max-width:980px){.tt_head_menu{float:left;width:250px;overflow:hidden;padding:0%;display:block;left:0px;top:0px;margin-top:0px;height:100%;background-color:#333;border-bottom:0;}
.tt_head_menu ul{float:left;margin:0px 0% 0% 0%;border-top:10px solid #000;}
.tt_head_menu ul li{border-top:1px solid #222!important;width:215px;padding:7px 25px 7px 10px;background-color:#333;margin:0px 0px 0px 0px;}
.tt_head_menu ul li a{float:left;font-family:Arial, Helvetica, sans-serif;font-size:18px;width:100%;color:#FFF!important;padding:5px 10px 5px 10px;line-height:22px;background-color:transparent!important;}
.tt_head_menu ul li.tt_col ul.thaitheme-sub-menu{width:250px;}
.tt_head_menu ul li.tt_col ul.thaitheme-sub-menu li a{border-left:0;border-right:0;width:245px;}
.tt_head_menu .fa.fa-chevron-down{display:none;}
.tt_head_menu .shows_btn{display:block;position:absolute;right:0px;top:0px;float:right;width:40px;height:47px;text-align:center;font-size:30px;background-color:#111;cursor:pointer;}
.tt_head_menu ul li.current-menu-item:after{border:0;}
.tt_head_menu ul li ul.thaitheme-sub-menu li.menu-item-has-children .fa,
.tt_head_menu ul li .fa{right:8px;top:8px;color:#FFF!important;}
.tt_head_menu ul li.menu-item-has-children,
.tt_head_menu ul li:hover{background-color:transparent!important;border-top:0;}
.tt_head_menu ul li.menu-item-has-children a{padding:5px 0px 5px 15px;}
.tt_head_menu ul li:hover,
.tt_head_menu ul li.menu-item-has-children:hover{border-top:1px solid #222!important;}
.tt_head_menu ul li.menu-item-has-children{width:250px;padding:7px 0px 7px 0px;overflow:hidden;}
.tt_logo_head{display:none;}
.tt_head_menu ul li ul.thaitheme-sub-menu li ul.thaitheme-sub-menu,
.tt_head_menu ul li ul.thaitheme-sub-menu,
.tt_head_menu ul li:hover .thaitheme-sub-menu,
.tt_head_menu ul li ul.thaitheme-sub-menu li:hover .thaitheme-sub-menu{display:none;}
.tt_head_menu ul li ul.thaitheme-sub-menu li a{color:#FFF!important;border-top:0;padding:5px 10px}
.tt_head_menu ul li.tt_open .thaitheme-sub-menu,
.tt_head_menu ul li ul.thaitheme-sub-menu li.tt_open .thaitheme-sub-menu{display:block;visibility:visible;opacity:1;filter:alpha(opacity=1);}
.tt_head_menu ul li ul.thaitheme-sub-menu li ul.thaitheme-sub-menu ,
.tt_head_menu ul li ul.thaitheme-sub-menu{float:left;top:8px;left:0px;width:250px;position:relative;background-color:#555;border:0;margin:0px 0px 0px 0px;padding:0px;}
.tt_head_menu ul li ul.thaitheme-sub-menu li{float:left;width:245px;padding:7px 0px 7px 5px;background-color:#555;margin:0px 0px 0px 0px;border-top:1px solid #111;}
.tt_head_menu ul li ul.thaitheme-sub-menu li ul.thaitheme-sub-menu li{width:230px;padding:10px 10px 0px 10px;border-bottom:0;border-top:1px solid #111;background-color:#555;}
.tt_head_menu ul li:hover .thaitheme-sub-menu{top:8px;}
.tt_head_menu ul li ul.thaitheme-sub-menu li:hover .thaitheme-sub-menu{left:0px;}
.tt_head_menu ul li ul.thaitheme-sub-menu li:hover{background-color:#555;color:#FFF;}
.tt_head_menu ul li ul.thaitheme-sub-menu li:hover a{color:#FFF;background-color:#555;}
.tt_head_menu ul li.menu-item-has-children ul.thaitheme-sub-menu li,
.tt_head_menu ul li.menu-item-has-children ul.thaitheme-sub-menu li:hover{border-top:1px solid #111;}
.tt_head_menu ul li ul.thaitheme-sub-menu li ul.thaitheme-sub-menu{margin-left:-5px;}
.thatheme-ghost{display:none;float:left;width:100%;height:100%;position:fixed;z-index:999;top:0px;left:0px;background-color:#000;opacity:0.5;filter:alpha(opacity=50);}
.thatheme-ghost.sb-active{display:block;}
.tt_logo_mobile{float:left;margin-left:15%;width:40%;text-align:center;height:40px;}
#tt_head_m{position:fixed;top:0;width:100%;height:40px;background-color:#0B77BA;z-index:9999;display:block;}
#tt_head_m span.sb-toggle-left{float:left;color:white;font-size:32px;cursor:pointer;padding:5px 10px 2px 10px;margin:0px 0px 0px 0px;}
#tt_head_m span.sb-toggle-right{float:right;color:white;padding:10px;}
#thaitheme-waper, .sb-site-container, .sb-slidebar{margin:0;border:0;padding:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
#thaitheme-waper:before, #thaitheme-waper:after, .sb-site-container:before, .sb-site-container:after{content:' ';display:table;}
#thaitheme-waper:before, #thaitheme-waper:after, .sb-site-container:before, .sb-site-container:after{clear:both;}
.sb-slidebar{height:100%;overflow-y:auto;position:fixed;top:0;display:none;z-index:0;float:left;background-color:#333!important;}
.sb-slidebar, .sb-slidebar *{-webkit-transform:translateZ(0px);}
.sb-left{left:0px;}
.sb-right{right:0;}
html.sb-static .sb-slidebar,
.sb-slidebar.sb-static{position:absolute;}
.sb-slidebar.sb-active{display:block;}
.tt_banner_top.sb-slide,.tt_banner_head.sb-slide{z-index:99;}
.sb-style-overlay{z-index:9999;}
.sb-momentum-scrolling{-webkit-overflow-scrolling:touch;}
.sb-slidebar,
.sb-width-thin,
.sb-width-wide{width:250px;}
.tt_banner_top.sb-slide,.tt_banner_head.sb-slide,
.sb-slide, #thaitheme-waper, .sb-site-container, .sb-slidebar{-webkit-transition:-webkit-transform 250ms ease;-moz-transition:-moz-transform 250ms ease;-o-transition:-o-transform 250ms ease;transition:transform 250ms ease;-webkit-transition-property:-webkit-transform, left, right;-webkit-backface-visibility:hidden;}
.sb-active .tt_boder_load,
.tt_logo,
.sb-hide{display:none;}
.tt_top{background-color:#f9f9f9;z-index:999;padding:40px 0px 5px 0px;}
#thaitheme-waper{background-color:#f9f9f9;}
.tt_banner{width:100%;}
.tt_list.tt_widget_list h3{width:57%;}
.tt_boder_load{top:40px;}
.tt_btn_search{background-color:#000;color:#fff;opacity:1;filter:alpha(opacity=100);}
.tt_btn_search{width:100%;height:45px;right:0px;line-height:20px;font-size:28px;white-space:nowrap;}
.tt_btn_search .tx_sh{display:inline-block;}
.tt_btn_search .fa{line-height:40px;font-size:24px;}
.tt-search_top{width:94.8%;margin:0px 0px 0px 0px;min-height:80px;padding:3% 2% 2% 3%;}
.tt_from_left{width:100%;}
#submit-from{float:left;width:98%;height:40px;}
.thaitheme_sc{float:left;width:99.5%;margin-left:0;margin-bottom:10px;}
.tt_input_from{width:96%;}
.thaitheme_from_price{float:left;width:96%;margin-left:0;margin-bottom:10px;}
.tt_search_header,
.tt_head_menu .tt_post_menu{display:none;}
#tt_head_m .tt_post_menu{display:block;}
.tt_list.tt_post_manage .tt_img{width:20%;}
.tt_list.tt_post_manage .tt_the_title{width:50%;}
.tt_edit_format{border-right:0;}
.tt_center{width:100%;}
.tt_login{margin:0% 0% 0% 2%;}
.tt_fb_login{margin:0% 2% 0% 2%;}
.tt_location{width:75%;}
.grid .tt_list.thaitheme.post3x{width:31.5%;}
.grid .tt_list.thaitheme .tt_desc h3{height:65px;}
.sec-content .tt_list.thaitheme.post_news .tt-img{min-height:100px;}
.tt_full .sec-content .tt_list.thaitheme.post_news .tt-img{min-height:125px;max-height:125px;}
.adverts-form.adverts-form-aligned select{padding:10px 0% 10px 0%;}
.adverts-form.adverts-form-aligned input{padding:10px 2% 10px 2%;}
.tt_head_content .tt_head_top ,
.tt_btn_allmenu{display:none;}
.tt_head_content.tt_fixed.tt_shows .sb-slidebar.sb-left,
.tt_head_content.tt_fixed .sb-slidebar.sb-left{visibility:visible;opacity:1;filter:alpha(opacity=1);top:0px;z-index:1;}
.tt_head_top .tt_post_menu,
.tt_head_content.tt_fixed .tt_ct_menu{display:none;}
.tt_head_content.tt_fixed .tt_head_top,
.tt_head_content .tt_head_top{position:fixed;min-height:230px;}
.tt_head_content.tt_shows_m #tt_head_m{top:230px;}
.tt_head_content.tt_shows_m .tt_head_top{display:block;top:0px;}
.tt_user_h:hover .tt_user_nav ,
.tt_search_h:hover .tt_from_hide,
.tt_user_nav,
.tt_from_hide{position:relative;top:0px;visibility:visible;opacity:1;filter:alpha(opacity=1);}
.tt_user_nav{width:98%;padding:10px 1% 3px 1%;min-height:60px;}
.tt_head_content.tt_fixed .tt_ct_menu{display:block;}
.tt_ct_menu{margin-bottom:10px;margin-top:10px;}
.tt_user_h{width:50%;min-height:20px;margin-top:20px;background-position:30px center;}
.logged-in .tt_user_h{min-height:120px;;}
.tt_user_h .tt_avatar{width:80px;top:0px;max-height:80px;}
.tt_user_link{margin-left:25%;width:75%;}
.tt_head_content.tt_fixed .tt_ct_search{margin-top:0px;margin-bottom:0px;}
.tt_user_link a.btn_link{width:45%;margin:0px 0px 5px 3%;padding:3px 0px 3px 0px;}
.logged-in .tt_ct_search .tt_user_h{background-image:none;}
.tt_head_top{z-index:9999;}
.sb-active-left .tt_head_top{display:none!important;}
.sb-active-left .tt_head_content.tt_shows_m #tt_head_m{top:0px!important;}
.tt_head_content.tt_fixed .tt_top{padding:45px 0px 0px 0px;}
.adverts-form select#province ,
.adverts-form select#district{left:33%;height:39px;}
}
@media screen and (max-width:960px){}
@media screen and (max-width:900px){.list_featured .tt_desc h3{font-size:22px;line-height:26px;}
.tt_list.tt_widget_list h3{width:52%;}
.thaitheme_ad_right{width:60%;}
.thaitheme_ad_left{width:37%;}
.grid.tt_full .tt_list.thaitheme.tt-5x,
.grid.tt_full .tt_list.thaitheme.post3x{width:23.2%;height:280px;margin:0% 2% 3% 0%;}
.grid.tt_full .tt_list.thaitheme.tt-4x{margin:0% 0% 3% 0%;}
.post_news .grid .tt_list.thaitheme.post3x{height:230px;}
.tt_full .sec-content .tt_list.thaitheme.post_news .tt-img{min-height:115px;max-height:115px;}
.adverts-form select#province ,
.adverts-form select#district{left:33.5%;height:39px;}
}
@media screen and (max-width:850px){}
@media screen and (max-width:800px){.tt_sb_hide,
.tt_footer_right,
.tt_featured .tt_more{display:none;}
.tt_left.grid,
.tt_left{width:100%;}
.tt_right{width:100%;max-width:100%;}
.tt_list.tt_widget_list a .tt-img{float:left;width:23%;}
.tt_list.tt_widget_list h3{width:75%;}
.tt_right.manage{width:100%;}
.tt_user_img{width:15%;}
.tt_user_name{width:70%;}
.tt_user_member336{width:70%;}
.tt_user_name .title{font-size:22px;margin:0px 0px 20px 0px;}
.tt_user_name a{font-size:120%;padding:6px 0px 6px 0px;}
.thaitheme_ad_right{width:100%;margin:50px 0px 20px 0px;min-height:200px;}
.thaitheme_ad_left{width:100%;}
.grid .tt_list.thaitheme .tt_desc h3{height:45px;}
.grid.tt_full .tt_list.thaitheme.tt-5x,
.grid.tt_full .tt_list.thaitheme.post3x{width:23%;height:250px;}
.grid.tt_full .tt_list.thaitheme.post3x .tt-img{max-height:130px;}
.tt_left.list.tt_full .tt_list.cat_all a{width:18%;}
.tt_left.list.tt_full .tt_list.cat_all.tt-6x a{margin:0% 2% 2% 0%;}
.tt_left.list.tt_full .tt_list.cat_all.tt-5x a{margin:0% 0% 2% 0%;}
.tt_list.thaitheme.post_news,
.tt_full .tt_list.thaitheme.post_news,
.tt_full .sec-content .tt_list.thaitheme.post_news{width:23.5%;margin:0% 2% 2% 0%;}
.tt_col .tt_list.thaitheme.post_news.tt-2x.tt-4x.tt-5x,
.tt_col .tt_list.thaitheme.post_news.tt-2x.tt-3x.tt-4x,
.tt_list.thaitheme.post_news.tt-4x,
.tt_full .tt_list.thaitheme.post_news.tt-4x,
.tt_full .sec-content .tt_list.thaitheme.post_news.tt-4x{margin:0% 0% 2% 0%;}
.tt_list.thaitheme.post_news.tt-3x,
.tt_full .tt_list.thaitheme.post_news.tt-3x,
.tt_list.thaitheme.post_news.tt-5x,
.tt_full .tt_list.thaitheme.post_news.tt-5x,
.tt_full .sec-content .tt_list.thaitheme.post_news.tt-5x{margin:0% 2% 2% 0%;}
.tt_footer_left{float:left;width:100%;}
.adverts-single-author{float:left;width:100%;margin:20px 0px 20px 0px;}
.adverts-price-box{float:left;width:100%;margin:0px 0px 0px 0px;padding:10px 0px 10px 0px;}
.adverts-single-price{float:left;width:100%;margin:0px 0px 0px 0px;}
}
@media screen and (max-width:680px){.tt_login ,
.tt_fb_login{float:left;width:80%;margin:0% 0% 0% 10%;}
.tt_user_h .tt_avatar{width:70px;max-height:70px;}
.adverts-form select#province ,
.adverts-form select#district{left:34.3%;height:39px;}
}
@media screen and (max-width:620px){.adverts-form.adverts-form-aligned .adverts-control-group > div,
.adverts-form.adverts-form-aligned .wp-editor-wrap,
.adverts-form-aligned #adverts-plupload-upload-ui,
#thaitheme_mata_location_district,
#thaitheme_mata_location_province,
input#adverts_phone,
input#adverts_email,
input#thaitheme_mata_location_add,
input#adverts_price,
.adverts-form input[type="text"],
.adverts-form input[type="password"],
.adverts-form input[type="email"],
.adverts-form input[type="url"],
.adverts-form input[type="date"],
.adverts-form input[type="month"],
.adverts-form input[type="time"],
.adverts-form input[type="datetime"],
.adverts-form input[type="datetime-local"],
.adverts-form input[type="week"],
.adverts-form input[type="number"],
.adverts-form input[type="search"],
.adverts-form input[type="tel"],
.adverts-form input[type="color"],
.adverts-form select,
.adverts-form textarea,
.adverts-form input{width:98%;margin-left:0px;}
.tt_center{width:80%;}
.adverts-form.adverts-form-aligned .adverts-control-group label,
.adverts-form-aligned .adverts-control-group > label{text-align:left;width:100%;margin:10px 0px 5px 0px;}
.tt_add_name img{width:30%;}
.tt_top_name{float:left;width:100%;margin:20px 0px 0px 0px;}
.tt_list.tt_post_manage .tt_format{width:70%;margin:10px 0px 0px 0px;min-height:10px;}
.tt_edit_format{position:absolute;top:0px;right:10px;}
.tt_list.tt_post_manage .tt_date ,
.tt_list.tt_post_manage .tt_status{width:30%;text-align:left;margin:0% 0% 0% 2.5%;}
.tt_list.tt_post_manage{padding:2% 1% 2% 1%;}
.slide_imgs{float:left;max-width:100%;width:100%;margin:0px 0px 20px 0px;padding-bottom:5px;padding-top:3px;position:relative;right:0px;top:0px;z-index:999;background-color:#ccc;min-height:50px;}
.thaitheme_slide_img .next{right:10px;padding:100px 20px 20px 20px;}
.slide_imgs a img{float:left;width:16.5%;height:auto;border:3px solid #FFF;margin:1%;opacity:1;filter:alpha(opacity=100);}
.thaitheme_slide_img .back,.thaitheme_slide_img .next{display:none!important;}
.slide_view{padding:0px 0px 0px 0px;}
.grid.tt_full .tt_list.thaitheme.tt-5x,
.grid.tt_full .tt_list.thaitheme.post3x ,
.grid .tt_list.thaitheme.post3x.tt-3x,
.grid .tt_list.thaitheme.post3x{float:left;width:47.5%;height:280px;margin:0% 4% 4% 0%;}
.grid .tt_list.thaitheme.post3x.tt-2x{margin:0% 0% 4% 0%;}
.grid.tt_full .tt_list.thaitheme.post3x .tt-img{max-height:150px;}
.tt_left.tt_full .tt_head_aurtor img{width:20%;}
.tt_left.tt_full .tt_head_aurtor .tt_info_aurtor{width:75%;}
.post_news .grid .tt_list.thaitheme.post3x{height:250px;}
.tt_left.list.tt_full .tt_list.cat_all a,
.tt_list.cat_all a{width:23%;}
.tt_left.list.tt_full .tt_list.cat_all.tt-5x a,
.tt_list.cat_all.tt-5x a{margin:0% 2% 2% 0%;}
.tt_left.list.tt_full .tt_list.cat_all.tt-3x.tt-4x.tt-6x a,
.tt_list.cat_all.tt-4x a{margin:0% 0% 2% 0%;}
.tt_list.thaitheme.post_news,
.tt_full .tt_list.thaitheme.post_news{float:left;width:32%;height:180px;}
.tt_full .sec-content .tt_list.thaitheme.post_news ,
.sec-content .tt_list.thaitheme.post_news{float:left;width:32%;height:250px;}
.tt_list.thaitheme.post_news.tt-3x,
.tt_full .tt_list.thaitheme.post_news.tt-3x,
.tt_full .sec-content .tt_list.thaitheme.post_news.tt-3x,
.sec-content .tt_list.thaitheme.post_news.tt-3x{margin:0% 0% 2% 0%;}
.tt_full .tt_list.thaitheme.post_news.tt-2x.tt-4x.tt-5x,
.tt_col .tt_list.thaitheme.post_news.tt-2x.tt-4x.tt-5x,
.tt_list.thaitheme.post_news.tt-4x ,
.tt_list.thaitheme.post_news.tt-5x ,
.tt_full .tt_list.thaitheme.post_news.tt-4x ,
.tt_full .tt_list.thaitheme.post_news.tt-5x ,
.tt_full .sec-content .tt_list.thaitheme.post_news.tt-4x ,
.tt_full .sec-content .tt_list.thaitheme.post_news.tt-5x ,
.sec-content .tt_list.thaitheme.post_news.tt-4x{margin:0% 2% 2% 0%;}
.tt_full .tt_list.thaitheme.post_news.tt-2x.tt-3x.tt-4x,
.tt_full .tt_list.thaitheme.post_news.tt-3x.tt-5x{margin:0% 0% 2% 0%;}
.steps strong.steps_f{font-size:12px;}
.steps>li{padding:8px 30px 12px 60px;width:80px;}
.tt_user_link{float:right;margin-left:0%;width:80%;}
.tt_search_h{width:100%;}
.tt_user_h{width:100%;margin-bottom:10px;}
.tt_head_content.tt_fixed .tt_head_top,
.tt_head_content .tt_head_top{position:fixed;min-height:270px;}
.logged-in .tt_head_content.tt_fixed .tt_head_top,
.logged-in .tt_head_content .tt_head_top{min-height:320px;}
.tt_head_content.tt_shows_m #tt_head_m{top:270px;}
.logged-in .tt_head_content.tt_shows_m #tt_head_m{top:335px;}
.tt_user_h .tt_avatar{width:60px;max-height:60px;}
.tt_head_content.tt_fixed .tt_ct_menu,
.tt_ct_menu{display:none;}
.tt_head_content.tt_fixed .tt_ct_search,
.tt_ct_search{margin-top:10px;}
.tt_copyright{text-align:center;}
.adverts-form select#province ,
.adverts-form select#district{left:0;width:98%;top: 38px;height:39px;}
}
@media screen and (max-width:584px){.tt_left.list .tt_list.thaitheme.post1x .tt_desc h3{float:right;width:100%;}
.tt_left.list .tt_list.thaitheme.post1x .tt_ad_views{display:none;}
.tt_left.list .tt_list.thaitheme.post1x .tt_desc .tt_ad_price{position:absolute;right:10px;top:auto;bottom:10px;}
.logged-in .tt_head_content.tt_shows_m #tt_head_m{top:326px;}
.tt_full .tt_list.thaitheme.post_news{height:165px;}
}
@media screen and (max-width:480px){.tt_user_name{width:92%;}
.tt_user_img{width:100%;text-align:center;margin:20px 0px 20px 0px;}
.tt_user_img img{width:30%;}
.tt_list.tt_post_manage .tt_the_title{width:53%;}
.tt_center{width:90%;}
.tt_list.tt_post_manage .tt_date ,
.tt_list.tt_post_manage .tt_status{width:47%;text-align:left;margin:0% 0% 0% 2.5%;}
.tt_list.tt_post_manage .tt_img{width:35%;}
.tt_login ,
.tt_fb_login{float:left;width:90%;margin:0% 0% 0% 5%;}
.slide_view ,
.reg{max-height:320px;}
.slide_view{min-height:320px;}
.slide_imgs a img{width:16%;}
.tt_list.tt_widget_list a .tt-img{float:left;width:35%;}
.tt_list.tt_widget_list h3{width:60%;}
.tt_col .tt_list.thaitheme.post_news.tt-5x,
.grid.tt_full .tt_list.thaitheme.tt-5x,
.grid.tt_full .tt_list.thaitheme.post3x ,
.grid .tt_list.thaitheme.post3x.tt-3x,
.grid .tt_list.thaitheme.post3x{float:left;width:48%;margin:0% 2% 2% 0%;}
.tt_full .tt_list.thaitheme.post_news.tt-2x.tt-4x.tt-5x,
.tt_col .tt_list.thaitheme.post_news.tt-2x.tt-4x.tt-5x,
.grid .tt_list.thaitheme.post3x.tt-2x{margin:0% 0% 2% 0%;}
.tt_name_aurtor{font-size:22px;}
.tt_list.tt_post_manage .tt_format{width:60%;}
.tt_bg_search_m .thaitheme_sc{width:98%;margin-right:0%}
.tt_bg_search_m .thaitheme_from_price{width:96%;margin-right:0%;}
.post_news .grid .tt_list.thaitheme.post3x{height:230px;}
.tt_left.list.tt_full .tt_list.thaitheme.post1x .tt-img,
.tt_left.list .tt_list.thaitheme.post1x .tt-img{width:30%;}
.tt_left.list.tt_full .tt_list.thaitheme.post1x .tt_desc,
.tt_left.list .tt_list.thaitheme.post1x .tt_desc{width:65%;}
.tt_left.list .tt_list.thaitheme.post1x{min-height:150px;}
.tt_left.list .tt_list.thaitheme.post1x .tt_desc h3{max-height:56px;overflow:hidden;}
.post_news .tt_left.list .tt_list.thaitheme.post1x{min-height:50px;}
.tt-search_filter select{width:96%;margin:0px 0% 15px 2%;padding:10px 10px 10px 10px;}
.tt-search_filter .thaitheme_from_price{width:40%;margin:0px 0% 15px 2%;padding:5px 10px 5px 10px;}
.tt_search_query{display:none;}
.tt_left.list.tt_full .tt_list.cat_all a,
.tt_list.cat_all a{width:31.1%;}
.tt_left.list.tt_full .tt_list.cat_all.tt-6x a,
.tt_left.list.tt_full .tt_list.cat_all.tt-5x a,
.tt_list.cat_all.tt-4x a,
.tt_list.cat_all.tt-5x a{margin:0% 2% 2% 0%;}
.tt_left.list.tt_full .tt_list.cat_all.tt-3x.tt-5x a,
.tt_left.list.tt_full .tt_list.cat_all.tt-3x.tt-6x a,
.tt_list.cat_all.tt-3x a{margin:0% 0% 2% 0%;}
.tt_list.thaitheme.post_news.tt-3x,
.tt_list.thaitheme.post_news{width:48%;margin:0% 4% 4% 0%;}
.tt_list.thaitheme.post_news.tt-2x{margin:0% 0% 4% 0%;}
.tt_list.thaitheme.post_news,
.tt_full .tt_list.thaitheme.post_news{float:left;width:48.2%;height:190px;margin:0% 2% 2% 0%;}
.tt_full .sec-content .tt_list.thaitheme.post_news ,
.sec-content .tt_list.thaitheme.post_news{float:left;width:48.2%;height:250px;margin:0% 2% 2% 0%;}
.tt_full .sec-content .tt_list.thaitheme.post_news.tt-3x,

.tt_list.thaitheme.post_news.tt-3x,
.tt_full .tt_list.thaitheme.post_news.tt-3x,
.tt_full .sec-content .tt_list.thaitheme.post_news.tt-4x ,
.tt_full .sec-content .tt_list.thaitheme.post_news.tt-5x ,
.sec-content .tt_list.thaitheme.post_news.tt-4x,
.sec-content .tt_list.thaitheme.post_news.tt-3x{margin:0% 2% 2% 0%;}
.tt_list.thaitheme.post_news.tt-2x,
.tt_list.thaitheme.post_news.tt-4x,
.tt_list.thaitheme.post_news.tt-5x,
.tt_full .tt_list.thaitheme.post_news.tt-2x.tt-5x,
.tt_full .tt_list.thaitheme.post_news.tt-2x.tt-3x,
.tt_full .tt_list.thaitheme.post_news.tt-2x,
.tt_full .tt_list.thaitheme.post_news.tt-4x,
.tt_full .tt_list.thaitheme.post_news.tt-5x,
.sec-content .tt_list.thaitheme.post_news.tt-2x.tt-4x,
.sec-content .tt_list.thaitheme.post_news.tt-2x{margin:0% 0% 2% 0%;}
#tt_head_m .tt_post_menu{width:100px;right:52px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
.steps strong.steps_f{font-size:12px;}
.steps>li{padding:8px 20px 12px 40px;width:80px;height:40px;}
.tt_logo_mobile{margin-left:5%;width:40%;}
.tt_logo_mobile img{padding:5px 0px 0px 0px;}
.tt_footer_menu{width:45%;margin:10px 0% 10px 4%;}
.tt_footer_menu.last{width:98%;margin:30px 0% 30px 0%;}
.tt_footer_menu ul li{margin:5px 0px 5px 0%;}
#submit-button{width:96%;float:left;margin-left:2%;padding:15px 20px 10px 20px;font-size:22px;color:#333;}
.tt-head h2{padding:12px 10px 7px 10px;}
}
@media screen and (max-width:384px){.reg{max-height:270px;}
.slide_view{min-height:270px;}
.grid.tt_full .tt_list.thaitheme.tt-5x,
.grid.tt_full .tt_list.thaitheme.post3x{height:240px;}
.grid.tt_full .tt_list.thaitheme.post3x .tt-img,
.grid .tt_list.thaitheme .tt-img{max-height:130px;}
.tt_login_form #login{width:260px;}
.post_news .grid .tt_list.thaitheme.post3x{height:200px;}
.tt_list.tt_post_manage .tt_format{width:100%;}
ul.steps{width:280px;}
.steps strong.steps_h{font-size:12px;}
.steps strong.steps_f{font-size:12px;}
.steps>li{padding:8px 30px 12px 30px;width:80px;height:40px;margin-left:-20px;}
.tt_logo_mobile{margin-left:1%;width:35%;}
.tt_logo_mobile img{padding:8px 0px 0px 0px;}
.logged-in .tt_head_content.tt_shows_m #tt_head_m{top:325px;}
.tt_list.thaitheme.post_news,
.tt_full .tt_list.thaitheme.post_news{float:left;width:48.2%;height:160px;margin:0% 2% 2% 0%;}
.grid.tt_full .tt_list.thaitheme.tt-5x, .grid.tt_full .tt_list.thaitheme.post3x, .grid .tt_list.thaitheme.post3x.tt-3x, .grid .tt_list.thaitheme.post3x{height:250px;}
}
@media screen and (max-width:320px){.reg{max-height:225px;}
.slide_view{min-height:225px;}
.grid.tt_full .tt_list.thaitheme.tt-5x, .grid.tt_full .tt_list.thaitheme.post3x, .grid .tt_list.thaitheme.post3x.tt-3x, .grid .tt_list.thaitheme.post3x{height:220px;}
.grid.tt_full .tt_list.thaitheme.tt-5x,
.grid.tt_full .tt_list.thaitheme.post3x{height:220px;}
.grid.tt_full .tt_list.thaitheme.post3x .tt-img,
.grid .tt_list.thaitheme .tt-img{max-height:110px;}
.post_news .grid .tt_list.thaitheme.post3x{height:180px;}
.tt_logo_mobile{margin-left:1%;width:30%;}
.tt_logo_mobile img{padding:10px 0px 0px 0px;}
}
@media screen and (max-width:319px){.tt_logo_mobile{display:none;}
}